:host {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

span {
    background-color: aqua;
    font-weight: 1000;
}


  li {
    color: crimson;
  }

  h1 {
    text-align: center;
  }

  #nFor {
    margin-left: auto; 
    margin-right: 5cm;
    float: right;
    flex-direction: column;
  }

  #nForX {
    margin-left: auto; 
    margin-right: 5cm;
    float: right;
    flex-direction: column;
  }