<h1>First Component works!</h1>
<div id="nFor">
<h2><span>This is a list using ngFor</span></h2>
<fieldset>
    <legend>Simple ngFor table</legend>
<ol>
    <li *ngFor="let cof of typesOfCoffee">{{ cof }}</li>
</ol>
</fieldset>
</div>
<div id="nForX">
    <h2><span>List using Complex arrays</span></h2>
    <fieldset>
        <legend>Simple ngFor table</legend>
    <ul *ngFor="let pokx of listOfPokemon">
        name: {{ pokx.name }}<br>
        age: {{ pokx.age }}<br>
        region: {{ pokx.region }}<br>
        type: {{ pokx.type }}<br>
    </ul>
    </fieldset>

</div>
