:host {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

span {
    background-color: aqua;
    font-weight: 1000;
}


  li {
    color: crimson;
  }

  h1 {
    text-align: center;
  }

  #nFor {
    padding: auto;
    margin-left: 5cm;
    border: 1cm;
    text-align: center;
    display: inline-block;
    border-color: aquamarine;
  }

  #nForX {
    margin-left: auto; 
    margin-right: 5cm;
    float: right;
  }

  #nPag {
    display: grid;
  }